*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-color: #0A0F1F;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo img{
    height: 60px;
    width: auto;
    border-radius: 50%;
}



.navlinks a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s ease, transform 0.3s ease;

}
.navlinks a:hover {
    color: #5fe8ff;
    transform: translatey(-10px);
}

#btn {
    background-color: #7DFDFF;
    padding: 5px 20px;
    border: 2px solid #7DFDFF;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    color:black;
    transition:background color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

#btn:hover{
      background-color:#00F0FF;
       transform: translatey(-10px);
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    flex-wrap: wrap;
}

#intro{
     max-width: 600px;
}

  
#name{
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #7DFDFF;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: white;
    font-size: 20px;
    font-family: arial;
    line-height: 2;
}
#cv{
    color: white;
    background-color: #0A0F1F;
    border: 2px solid #00F0FF;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}
#cv:hover{
    background-color: #00F0FF;
    color:black;
    cursor: pointer;
}
.villian img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    transform: rotate(5deg);
    box-shadow: 0 0px 10px #7DFDFF;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.villian:hover img {
    transform: rotate(0deg) scale(1.05);
}

.bar {
  background: #111;
  transform: rotate(-1.5deg);
  padding: 20px 0;
   margin-bottom: 50px;
}

.motion {
  display: flex;
  font-family: arial;
  height: 60px;
  align-items: center;
  animation: scroll 9s linear infinite;
}

.motion span {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-right: 60px; 
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.services-container {
    padding: 0px 10%;
    text-align: center;
}

.services-container h2 {
    font-size: 50px;
    color: #7DFDFF; 
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.boxes div {
    background-color: #121826;
    border-radius: 15px;
    padding: 20px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(125, 253, 255, 0.2);
}

.boxes div:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(125, 253, 255, 0.4);
}

.boxes h3 {
    color: #00F0FF;
    font-size: 20px; 
    margin-bottom: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxes p {
    color: #cfd8dc;
    font-size: 14px; 
    line-height: 1.6;
    font-family: arial;
}

.boxes i{
  font-size: 40px;
  color: #00bfff;
  margin-bottom: 15px;

}

.recent{
    display: flex;
}

.recent-work{
    display: flex;
    height: 530px;
    width: 1400px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    border: 2px solid #7DFDFF;
    border-radius: 30px;

}

#Works{
    display: block;
    text-align: center;
    color: #7DFDFF;
    font-size: 50px;
    margin-top: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#left-content{
    height: 100%;
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;

}

#ui{
    font-size: 30px;
    font-family: arial;
    color: #5fe8ff;
}

.clone a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s ease,;

}
.clone a:hover {
    color: #5fe8ff;
}

#para {
    font-size: 18px;
    line-height: 2;
}

.dots{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom{
    display: flex;
}

.bottom a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s ease;

}
.bottom a:hover {
    color: #5fe8ff;
}

#lay{
    margin-left: 5%;

}

#vis{
    margin-left: 5%;
}

.right-content{
    height: 95%;
    width: 45%;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 40px;
    background-image: url(images/amazom-avifa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid #5a9798;
}

.Jobify{
    height: 95%;
    width: 45%;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 40px;
    background-image: url(images/jobify-avi.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 0.5px solid #5a9798;
}

.reddit{
    height: 95%;
    width: 45%;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 40px;
    background-image: url(images/reddit-av.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0A0F1F;
    border: 0.5px solid #5a9798;
}

#skill-head{
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #7DFDFF;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills {
    height: 270px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.skill-row {
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
    opacity: 0;
    animation: fadeinup 2s ease forwards;
}

@keyframes fadeinup{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.skill-icon {
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: transform 0.8s ease, filter 0.5s ease;
}

.skill-icon:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}

#numbers {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
    cursor: pointer;
    transform: color  ease ;
}

#numbers:hover{
      color: #00F0FF;
}

.skill-name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: normal;
}

#appreciate{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #7DFDFF;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#clients{
    display: block;
    text-align: center;
    font-family: Arial;
    line-height: normal;
    margin-bottom: 10px;
}

.peoples-cmnt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;

}

.peoples{
    height: 420px;
    width: 300px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 30px;
    border: 1px solid #5a9798;
    transition: all 0.5s ease;


}

.peoples:hover{
    box-shadow: 0 0px 10px #7DFDFF;
    transform: translateY(-7px);
}

#ajm{
    display: flex;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: color 0.3s ease;
    cursor: pointer;
}

#ajm:hover{
    color: #5fe8ff;
}

.peoples-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.peoples-img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    cursor: pointer;

}

#peoples-para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 20px;
}

.peoples-qoutes{
    color: #00bfff;
    font-size: 2.5rem;
}

#ref-name{
    font-size: 20px;
    color: #00F0FF;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.ref-bot{
    font-size: 13px;
    font-family: arial;
    font-weight: normal;
}

.footer{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     margin-left: 90px;
}

.footer-page{
    justify-content: center;
    border: 1px solid #5a9798;
    border-radius: 20px;
    height: 525px;
    width: 400px;
    padding-top: 20px;
    padding-left: 30px;

}

#together{
    color: #7DFDFF;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.labels{
    font-size: 25px;
    font-family: arial;
    color: white;
}

#firs{
     background-color: black;
     height: 20px;
    border: 1px solid #5a9798;
    border-radius: 3px;
}

#las{
     background-color: black;
     height: 20px;
    border: 1px solid #5a9798;
    border-radius: 3px;
}

#emai{
    background-color: black;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #5a9798;
}

#pho{
     background-color: black;
     height: 20px;
    border-radius: 3px;
    border: 1px solid #5a9798;
}

.selection{
     font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    border: 1px solid #5a9798;
    width: 330px;
    height: 20px;
    background-color: black;
}

.massage{
     font-size: 25px;
    font-family: arial;
    color: white;
    margin-top: 10px;
}

.area{
    height: 120px;
    width: 300px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: 1px solid #5a9798;
    border-radius: 4px;
    background-color: black;

}

.contact-right{
    height: 300px;
    width: 500px;
    margin-left: 5%;
    margin-top: 10%;
}

.Right-content{
    
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Right-content i{
    height: 45px;
    width: 45px;
    padding-left: 12px;
    align-content: center;
    color: white;
    border: 2px solid #5a9798;
    border-radius: 50%;
}

.feet-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
    flex-wrap: wrap;
}

.feeter{
    display: flex;
    gap: 30px;
}

.feet i{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.fa-facebook{
    background-color: #1877F2;
    color: white;
}

.fa-instagram{
    background-color: #E4405F;
    color: white;
}

.fa-twitter{
    background-color: #1DA1F2;
    color: white;
}

.fa-linkedin{
    background-color: #0A66C2;
    color: white;
}

.fa-pinterest{
    background-color: #E60023;
    color: white;
}

.feet-links {
    display: flex;
    gap: 40px;
}

.feet-links a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feet-links a:hover{
     transform: translateY(-8px);
     color: #00F0FF;
}

#reserved{
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.back{
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back:active{
    color: #00F0FF;
}